/* Colors */
$black: #000;
$white: #fff;
$red: #d41443;
$pink: #ffb8ca;
$dark-pink: #ffa5ba;
$grey: #907e82;
$beige: #f0d1a5;
$green: #c2e297;
$mobile-menu: #e17992;
$transparent: transparent;
$modal-background-color: #00000033;
$button-1-hover: #ecebeb;
