<section class="advantages">
  <div class="advantages__container-bucket">
    <img
      class="advantages__icon"
      alt="Bucket"
      src="./images/advantages/bucket.png"
      srcset="./images/advantages/bucket@2x.png 2x"
    />
    <span class="advantages__numbers">721</span>
    <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
  </div>
  <div class="advantages__container-apples">
    <img
      class="advantages__icon"
      alt="Apples"
      src="./images/advantages/apples.png"
      srcset="./images/advantages/apples@2x.png 2x"
    />
    <span class="advantages__numbers">16kg</span>
    <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
  </div>
  <div class="advantages__container-heart">
    <img
      class="advantages__icon"
      alt="Heart"
      src="./images/advantages/heart.png"
      srcset="./images/advantages/heart@2x.png 2x"
    />
    <span class="advantages__numbers">84</span>
    <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
  </div>
</section>
