<section class="advantages">
  <h2 class="advantages__hidden-header">Advantages</h2>
  <ul class="advantages__container">
    <li class="advantages__container-bucket">
      <span class="advantages__numbers">721</span>
      <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="advantages__container-apples">
      <span class="advantages__numbers">16kg</span>
      <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="advantages__container-heart">
      <span class="advantages__numbers">84</span>
      <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
  </ul>
</section>
