<body>
  <section class="contacts">
    <h3 class="header-hidden">Contacts</h3>
    <div class="page-container">
      <div class="grid-container">
        <div class="grid-container__card">
          <ul class="grid-container__card-list">
            <li class="grid-container__border-bottom">
              <h4 class="header-card-caffe">Chicago</h4>
              <p class="grid-container__card-list-description">
                Fusce ut velit laoreet, tempus arcu molestie vulputate
              </p>
            </li>
            <li class="grid-container__border-bottom">
              <h5 class="open-days-1">Monday - Friday</h5>
              <p class="open-hours">06:00 AM - 10:00 PM</p>
              <h5 class="open-days">Saturday - Sunday</h5>
              <p class="open-hours">08:00 AM - 16:00 PM</p>
            </li>
            <li class="contact">
              <a href="tel:+61(0) 383 766 284" class="contact-info">+61(0) 383 766 284</a>
              <a href="mailto:noreply@envato.com" class="contact-info">noreply@envato.com</a>
            </li>
          </ul>
        </div>
        <div class="grid-container__card">
          <ul class="grid-container__card-list">
            <li class="grid-container__border-bottom">
              <h4 class="header-card-foodtruck">Los Angeles</h4>
              <p class="grid-container__card-list-description">
                Fusce ut velit laoreet, tempus arcu molestie vulputate
              </p>
            </li>
            <li class="grid-container__border-bottom">
              <h5 class="open-days-1">Monday - Friday</h5>
              <p class="open-hours">06:00 AM - 10:00 PM</p>
              <h5 class="open-days">Saturday - Sunday</h5>
              <p class="open-hours">08:00 AM - 16:00 PM</p>
            </li>
            <li class="contact">
              <a href="tel:+61(0) 383 766 284" class="contact-info">+61(0) 383 766 284</a>
              <a href="mailto:noreply@envato.com" class="contact-info">noreply@envato.com</a>
            </li>
          </ul>
        </div>
        <div class="grid-container__card">
          <ul class="grid-container__card-list">
            <li class="grid-container__border-bottom">
              <h4 class="header-card-caffe">New York</h4>
              <p class="grid-container__card-list-description">
                Fusce ut velit laoreet, tempus arcu molestie vulputate
              </p>
            </li>
            <li class="grid-container__border-bottom">
              <h5 class="open-days-1">Monday - Friday</h5>
              <p class="open-hours">06:00 AM - 10:00 PM</p>
              <h5 class="open-days">Saturday - Sunday</h5>
              <p class="open-hours">08:00 AM - 16:00 PM</p>
            </li>
            <li class="contact">
              <a href="tel:+61(0) 383 766 284" class="contact-info">+61(0) 383 766 284</a>
              <a href="mailto:noreply@envato.com" class="contact-info">noreply@envato.com</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="contact-btns">
        <button type="button" class="btn-locations">
          Our Locations
          <svg class="btn-svg-locations">
            <use href="./images/sprite.svg#icon-arrow-contacts"></use>
          </svg>
        </button>
        <button type="button" class="btn-franchise">
          Franchise<svg class="btn-svg-franchise">
            <use href="./images/sprite.svg#icon-arrow-contacts"></use>
          </svg>
        </button>
      </div>
    </div>
  </section>
</body>
