<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
    />

    <link
      rel="stylesheet"
      href="D:\DANE z LENOVO\Przemek\szkolasecurity.pl\GoIT\Kurs FULLSTACK PROGRAMISTA OD ZERA\github\actual\IceCream-TeamProject\css\main.min.css"
      type="text/css"
    />
  </head>
  <body>
    <section class="contacts">
      <h3 class="header-hidden">Contacts</h3>
      <div class="page-container">
        <div class="grid-container">
          <div class="grid-container__card">
            <ul class="grid-container__card-list">
              <li>
                <h4 class="header-card-caffe">Chicago</h4>
                <p class="grid-container__card-list-description">
                  Fusce ut velit laoreet, tempus arcu molestie vulputate
                </p>
                <div class="grid-container__border-bottom"></div>
              </li>
              <li>
                <h5 class="open-days">Monday - Friday</h5>
                <p class="open-hours">06:00 AM - 10:00 PM</p>
              </li>
              <li>
                <h5 class="open-days">Saturday - Sunday</h5>
                <p class="open-hours">08:00 AM - 16:00 PM</p>
              </li>
              <div class="grid-container__border-bottom"></div>
              <li>
                <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                <a href="mailto:noreply@envato.com">noreply@envato.com</a>
              </li>
            </ul>
          </div>
          <div class="grid-container__card">
            <ul class="grid-container__card-list">
              <li>
                <h4 class="header-card-foodtruck">Los Angeles</h4>
                <p class="grid-container__card-list-description">
                  Fusce ut velit laoreet, tempus arcu molestie vulputate
                </p>
                <div class="grid-container__border-bottom"></div>
              </li>
              <li>
                <h5 class="open-days">Monday - Friday</h5>
                <p class="open-hours">06:00 AM - 10:00 PM</p>
              </li>
              <li>
                <h5 class="open-days">Saturday - Sunday</h5>
                <p class="open-hours">08:00 AM - 16:00 PM</p>
              </li>
              <div class="grid-container__border-bottom"></div>
              <li>
                <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                <a href="mailto:noreply@envato.com">noreply@envato.com</a>
              </li>
            </ul>
          </div>
          <div class="grid-container__card">
            <ul class="grid-container__card-list">
              <li>
                <h4 class="header-card-caffe">New York</h4>
                <p class="grid-container__card-list-description">
                  Fusce ut velit laoreet, tempus arcu molestie vulputate
                </p>
                <div class="grid-container__border-bottom"></div>
              </li>
              <li>
                <h5 class="open-days">Monday - Friday</h5>
                <p class="open-hours">06:00 AM - 10:00 PM</p>
              </li>
              <li>
                <h5 class="open-days">Saturday - Sunday</h5>
                <p class="open-hours">08:00 AM - 16:00 PM</p>
              </li>
              <div class="grid-container__border-bottom"></div>
              <li>
                <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                <a href="mailto:noreply@envato.com">noreply@envato.com</a>
              </li>
            </ul>
          </div>
        </div>
        <button type="button" class="btn-locations">Our Locations</button>
        <button type="button" class="btn-franchise">Franchise</button>
      </div>
    </section>
  </body>
</html>
