<footer class="footer">
  <h2 class="header__logo-header">
    Homemade Ice cream made
    <span class="header__logo-header-span">with Passion</span>
  </h2>
  <div>
    <ul class="footer__social-media-icons">
      <li>
        <svg class="footer__social-media-icon">
          <use
            xlink:href="../src/images/sprite.svg#github"
            width="18.82"
            height="18.82"
            x="7"
            y="7"
          ></use>
        </svg>
      </li>
      <li>
        <svg class="footer__social-media-icon">
          <use
            xlink:href="../src/images/sprite.svg#telegram"
            width="19.2"
            height="14.93"
            x="6"
            y="8"
          ></use>
        </svg>
      </li>
      <li>
        <svg class="footer__social-media-icon">
          <use
            xlink:href="../src/images/sprite.svg#facebook"
            width="8.8"
            height="19.2"
            x="12"
            y="7"
          ></use>
        </svg>
      </li>
    </ul>
  </div>
  <h3 class="under-footer">© 2019 - IceCream. All Rights Reserved.</h3>
</footer>
