<header class="header">
  <img
    class="header__white"
    alt="White Circle"
    src="./images/header/white-eclipse.png"
    srcset="./images/header/white-eclipse@2x.png 2x"
  />

  <img
    class="header__white-second"
    alt="White Circle"
    src="./images/header/white-eclipse.png"
    srcset="./images/header/white-eclipse@2x.png 2x"
  />

  <img
    class="header__pink"
    alt="Pink Circle"
    src="./images/header/pink-eclipse.png"
    srcset="./images/header/pink-eclipse@2x.png 2x"
  />

  <img
    class="header__ice"
    alt="Ice Cream"
    src="./images/header/ice.png"
    srcset="./images/header/ice.png 2x"
  />

  <img
    class="header__milk"
    alt="Glass Of Milk"
    src="./images/header/milk.png"
    srcset="./images/header/milk@2x.png 2x"
  />

  <img
    class="header__lady"
    alt="Girl Eating Ice Creams"
    src="./images/header/lady.png"
    srcset="./images/header/lady@2x.png 2x"
  />

  <div class="header__menu">
    <a href="index.html"
      ><img
        alt="Ice Cream Company Logo"
        src="./images/header/logo.png"
        srcset="./images/header/logo@2x.png 2x"
    /></a>

    <nav>
      <ul class="header__menu-nav">
        <li><a href="#" class="header__menu-nav-link">Home</a></li>
        <li><a href="#" class="header__menu-nav-link">About Us</a></li>
        <li>
          <a href="#" class="header__menu-nav-link">How it's made?</a>
        </li>
        <li>
          <a href="#" class="header__menu-nav-link">Our products</a>
        </li>
        <li><a href="#" class="header__menu-nav-link">Contact</a></li>
      </ul>
    </nav>

    <button
      class="header__menu-mobile js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="header__menu-mobile-svg">
        <use href="./images/sprite.svg#icon-mobile" width="20" height="12"></use>
      </svg>
    </button>

    <button class="header__menu-button" type="button">
      Buy now
      <svg class="header__menu-button-svg">
        <use href="./images/sprite.svg#icon-arrow"></use>
      </svg>
    </button>
  </div>
  <div class="header__logo">
    <h1 class="header__logo-header">
      Ice cream <br />made with<br /><span class="header__logo-header-span">Passion</span>
    </h1>
    <ul class="header__logo-list">
      <li>
        <h3 class="header__logo-list-header">16</h3>
        <p class="header__logo-list-paragraph">cafes</p>
      </li>
      <li>
        <h3 class="header__logo-list-header">23</h3>
        <p class="header__logo-list-paragraph">food trucks</p>
      </li>
    </ul>
  </div>

  <ul class="header__buttons">
    <li>
      <button class="header__buttons-button header__buttons-button-one">Products</button>
    </li>
    <li>
      <button class="header__buttons-button">How it's made?</button>
    </li>
  </ul>

  <ul class="header__lorem">
    <li>
      <p class="header__lorem-paragraph">
        Lorem ipsum dolor sit amet,<br />
        consectetur adipiscing elit,<br />
        sed do eiusmod tempor<br />
        incididunt ut labore et
      </p>
    </li>
    <li>
      <button class="header__lorem-button">
        <svg class="header__lorem-button-svg">
          <use href="./images/sprite.svg#icon-arrow" width="5" height="5" x="6.5" y="6.5"></use>
        </svg>
        <svg class="header__lorem-button-desktop">
          <use href="./images/sprite.svg#icon-arrow" width="13" height="13" x="6.5" y="6.5"></use>
        </svg>
      </button>
    </li>
  </ul>
</header>
