<section class="about about__section" id="about">
    <div class="container-about">
        <p class="about__label">tradition and love</p>
        <h2 class="about__title">how it's made?</h2>
        <div class="about__content">
            <picture>
                <source 
                srcset="./images/is-about/desktop/cow1x.png"
                    media="(min-width:1200px)" 
                    type="image/png"/>
                <source srcset="./images/is-about/tablet/cow1x.png"
                    media="(min-width:768px)" type="image/png"/>
                <source srcset="./images/is-about/mobile/cow1x.png"
                    media="(max-width:767px)" type="image/png"/>
                <img src="./images/is-about/mobile/cow1x.png" alt="cow"></img>
            </picture>
            <div class="about__text">
                <p class="about__text--modifier">  Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
                    cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla. </p>
                <p class="about__second-text"> Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
                    Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a
                    feugiat urna maximus. Cras massa nibh, tincidunt. 
                    <br>
                    <br> 
                    Aliquam erat volutpat. Aenean accumsan.</p>
                <div>
                    <button class="button-about" type="button">Read more
                        <svg class="button-about-svg">
                            <use href="./images/sprite.svg#icon-arrow" ></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>

</section>