<div class="mobile js-menu-container" id="mobile-menu">
  <button class="mobile__button js-close-menu" type="button">
    <svg class="mobile__button-svg">
      <use href="./images/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <div class="mobile__container">
    <button class="mobile__container-button" type="button">
      Buy Now
      <svg class="mobile__container-button-svg">
        <use href="./images/sprite.svg#icon-arrow"></use>
      </svg>
    </button>

    <ul class="mobile__container-nav">
      <li><a href="#" class="mobile__container-nav-link">Home</a></li>
      <li><a href="#" class="mobile__container-nav-link">About us</a></li>
      <li>
        <a href="#" class="mobile__container-nav-link">How it's made?</a>
      </li>
      <li>
        <a href="#" class="mobile__container-nav-link">Our products</a>
      </li>
      <li><a href="#" class="mobile__container-nav-link">Contact</a></li>
    </ul>
    <div class="mobile__container-baner">
      <img
        class="mobile__container-baner-png"
        alt="Pink Ice Cream"
        src="./images/header/cream.png"
        srcset="./images/header/cream@2x.png 2x"
      />
      <h3 class="mobile__container-baner-header">ice cream</h3>
      <ul class="mobile__container-baner-list">
        <li>
          <img
            class="mobile__container-baner-list-img"
            alt="White Circle"
            src="./images/header/white-eclipse.png"
            srcset="./images/header/white-eclipse@2x.png 2x"
          />
        </li>
        <li>
          <img
            class="mobile__container-baner-list-img"
            alt="White Circle"
            src="./images/header/white-eclipse.png"
            srcset="./images/header/white-eclipse@2x.png 2x"
          />
        </li>
        <li>
          <img
            class="mobile__container-baner-list-img"
            alt="White Circle"
            src="./images/header/white-eclipse.png"
            srcset="./images/header/white-eclipse@2x.png 2x"
          />
        </li>
      </ul>
      <p class="mobile__container-baner-paragraph">
        Lorem ipsum dolor sit<br />
        amet, consectetur<br />
        adipiscing elit, sed do<br />
        eiusmod tempor<br />
        incididunt ut labore et
      </p>
      <button class="mobile__container-baner-button">
        <svg class="mobile__container-baner-button-svg">
          <use href="./images/sprite.svg#icon-arrow" width="10" height="10" x="15" y="15"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
