<section class="products container">
  <span class="products__tag">100% natural</span>
  <h1 class="products__title">products</h1>
  <ul class="products__list">
    <li class="products__item products__item--ice-cream">
      <h2 class="products__subtitle">ice cream</h2>
      <p class="products__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button type="button" class="arrow-btn"><svg></svg></button>
    </li>
    <li class="products__item products__item--ice-coffee">
      <h2 class="products__subtitle">ice coffee</h2>
      <p class="products__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button type="button" class="arrow-btn"><svg></svg></button>
    </li>
    <li class="products__item products__item--milkshakes">
      <h2 class="products__subtitle">milkshakes</h2>
      <p class="products__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button type="button" class="arrow-btn"><svg></svg></button>
    </li>
  </ul>
</section>
