<section class="products container">
  <span class="products__tag">100% natural</span>
  <h1 class="products__title">products</h1>
  <ul class="products__list">
    <li class="products__item products__item--ice-cream">
      <h2 class="products__subtitle">ice cream</h2>
      <p class="products__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button class="header__lorem-button products-button">
        <svg class="header__lorem-button-svg">
          <use href="./images/sprite.svg#icon-arrow" width="5" height="5" x="6.5" y="6.5"></use>
        </svg>
        <svg class="header__lorem-button-desktop">
          <use href="./images/sprite.svg#icon-arrow" width="13" height="13" x="6.5" y="6.5"></use>
        </svg>
      </button>
      <!-- <button type="button" class="arrow-btn"><svg></svg></button> -->
    </li>
    <li class="products__item products__item--ice-coffee">
      <h2 class="products__subtitle">ice coffee</h2>
      <p class="products__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button class="header__lorem-button products-button">
        <svg class="header__lorem-button-svg">
          <use href="./images/sprite.svg#icon-arrow" width="5" height="5" x="6.5" y="6.5"></use>
        </svg>
        <svg class="header__lorem-button-desktop">
          <use href="./images/sprite.svg#icon-arrow" width="13" height="13" x="6.5" y="6.5"></use>
        </svg>
      </button>
      <!-- <button type="button" class="arrow-btn"><svg></svg></button> -->
    </li>
    <li class="products__item products__item--milkshakes">
      <h2 class="products__subtitle">milkshakes</h2>
      <p class="products__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button class="header__lorem-button products-button">
        <svg class="header__lorem-button-svg">
          <use href="./images/sprite.svg#icon-arrow" width="5" height="5" x="6.5" y="6.5"></use>
        </svg>
        <svg class="header__lorem-button-desktop">
          <use href="./images/sprite.svg#icon-arrow" width="13" height="13" x="6.5" y="6.5"></use>
        </svg>
      </button>
      <!-- <button type="button" class="arrow-btn"><svg></svg></button> -->
    </li>
  </ul>
</section>
