.footer {
  background-color: $section-pink;
}
.header__logo-header {
  font-family: 'Titan One', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.154;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $dark-pink;
}
.header__logo-header-span {
  margin-top: 17px;
  font-size: 34px;
  color: #d41443;
  line-height: 0.959;
}
.footer__social-media-icons {
  margin-top: 43px;
  display: flex;
  justify-content: end;
  gap: 28.24px;
}
.footer__social-media-icon {
  fill: $white;
  background-color: $footer__social-media-icons-bg;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}
.footer__social-media-icon:hover {
  fill: $white;
  background-color: $red;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}
.under-footer {
  display: flex;
  height: 89px;
  border-top: 1px solid $grey;
  font-size: 14px;
  justify-content: center;
}
