.header {
  position: relative;
  background-color: $pink;
  padding: 6px 20px 0 20px;
  z-index: 1;
  overflow: hidden;

  &__white {
    display: none;

    &-second {
      display: none;
    }
  }

  &__pink {
    position: absolute;
    z-index: -2;
    bottom: 75px;
    left: 36px;
    max-width: 346px;
    height: 344px;
  }

  &__ice {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 10%;
    max-width: 171px;
    height: 410px;
  }

  &__milk {
    display: none;
  }

  &__lady {
    display: none;
  }

  &__menu {
    @include flex-row;
    justify-content: space-between;
    align-items: center;

    &-nav {
      display: none;
    }

    &-button {
      display: none;
    }

    &-mobile {
      @include flex;
      cursor: pointer;
      width: 20px;
      height: 12px;
      border-style: none;
      background-color: $transparent;

      &:hover svg,
      &:focus svg {
        fill: $button-1-hover;
      }

      &-svg {
        @include transition-fill;
        width: 20px;
        height: 12px;
        fill: $red;
      }
    }
  }

  &__logo {
    @include flex-row;
    justify-content: space-between;
    padding-top: 137px;

    &-header {
      font-family: $secondary-font-family;
      font-weight: map-get($font-weight, primary);
      font-size: map-get($font-size-mobile, big);
      line-height: 1.154;
      letter-spacing: map-get($letter-spacing, medium);
      text-transform: uppercase;
      color: $white;

      &-span {
        font-size: map-get($font-size-mobile, huge);
        color: $red;
        line-height: 0.959;
      }
    }

    &-list {
      display: none;
    }
  }

  &__buttons {
    @include flex-row;
    gap: 8px;
    padding: 19px 0 160px 0;

    &-button {
      @include transition-background-color-color;
      cursor: pointer;
      font-weight: map-get($font-weight, primary);
      font-size: map-get($font-size-mobile, smallest);
      line-height: 1.25;
      height: 24px;
      width: 83px;
      text-align: center;
      color: $red;
      border-radius: 20px;
      border-style: none;

      &:hover,
      &:focus {
        background-color: $red;
        color: $white;
      }

      &-one {
        width: 62px;
        background-color: $red;
        color: $white;

        &:hover,
        &:focus {
          background-color: $white;
          color: $red;
        }
      }
    }
  }

  &__lorem {
    display: none;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 37px 34px 34px 34px;

    &__white {
      display: block;
      position: absolute;
      max-width: 16px;
      height: 16px;
      right: 34px;
      top: 94px;
      z-index: -1;

      &-second {
        display: block;
        position: absolute;
        max-width: 16px;
        height: 16px;
        right: 34px;
        top: 151px;
        z-index: -1;
      }
    }

    &__pink {
      max-width: 324px;
      height: 322px;
      bottom: 46px;
      right: 137px;
      left: unset;
    }

    &__ice {
      max-width: 143px;
      height: 336px;
      right: 247px;
    }

    &__milk {
      display: block;
      position: absolute;
      bottom: 28px;
      left: 34px;
      max-width: 124px;
      height: 126px;
    }

    &__lady {
      display: block;
      position: absolute;
      bottom: 0;
      right: 34px;
      max-width: 168px;
      height: 133px;
    }

    &__menu {
      &-button {
        @include transition-background-color-color;
        @include flex;
        cursor: pointer;
        justify-content: center;
        border-style: none;
        background-color: $white;
        border-radius: 22px;
        font-family: $primary-font-family;
        font-weight: map-get($font-weight, bold);
        font-size: map-get($font-size, primary);
        line-height: 1.313;
        gap: 12px;
        color: $red;
        padding: 0 37px;

        &:hover,
        &:focus {
          background-color: $red;
          color: $white;
        }

        &:hover svg,
        &:focus svg {
          fill: $white;
        }

        &-svg {
          @include transition-fill;
          width: 10px;
          height: 44px;
          fill: $red;
        }
      }

      &-mobile {
        margin-left: auto;
        margin-right: 30px;
      }
    }

    &__logo {
      @include flex-row;
      justify-content: space-between;
      padding-top: 9px;

      &-header {
        font-size: map-get($font-size-tablet, small);
        line-height: 1.136;
        padding-top: 6px;

        &-span {
          font-size: map-get($font-size-tablet, bigger);
          line-height: 0.912;
        }
      }

      &-list {
        @include flex-column;
        gap: 14px;
        font-weight: map-get($font-weight, primary);
        text-align: right;
        padding-right: 10px;

        &-header {
          font-family: $secondary-font-family;
          font-size: map-get($font-size-tablet, big);
          line-height: 1.143;
          letter-spacing: map-get($letter-spacing, medium);
          color: $red;
        }

        &-paragraph {
          font-family: $primary-font-family;
          font-size: map-get($font-size-tablet, smallest);
          line-height: 1.25;
          color: $white;
        }
      }
    }

    &__buttons {
      padding: 8px 0 0 0;
    }

    &__lorem {
      @include flex-column;
      padding: 66px 0 0 154px;
      gap: 7px;

      &-paragraph {
        font-family: $primary-font-family;
        font-weight: map-get($font-weight, primary);
        font-size: map-get($font-size-tablet, smallest);
        line-height: 1.5;
        color: $white;
      }

      &-button {
        @include transition-background-color;
        @include flex;
        cursor: pointer;
        border-style: none;
        width: 18px;
        height: 18px;
        border-radius: 50%;

        &:hover,
        &:focus {
          background-color: $red;
        }

        &:hover svg,
        &:focus svg {
          fill: $white;
        }

        &-svg {
          @include transition-fill;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          fill: $red;
        }

        &-desktop {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  .header {
    padding: 37px 115px 56px 46px;

    &__white {
      max-width: 30px;
      height: 30px;
      right: 97px;
      top: 156px;

      &-second {
        max-width: 30px;
        height: 30px;
        right: 97px;
        top: 248px;
      }
    }

    &__pink {
      right: 267px;
      max-width: 538px;
      height: 538px;
      bottom: 75px;
    }

    &__ice {
      right: 450px;
      max-width: 236px;
      height: 557px;
    }

    &__milk {
      bottom: 45px;
      left: 77px;
      max-width: 188px;
      height: 191px;
    }

    &__lady {
      right: 109px;
      max-width: 293px;
      height: 232px;
    }

    &__menu {
      @include flex-row;
      justify-content: space-between;

      &-nav {
        @include flex-row;
        gap: 35px;

        &-link {
          @include transition-color;
          font-family: $primary-font-family;
          font-weight: map-get($font-weight, bold);
          font-size: map-get($font-size, primary);
          line-height: 1.313;
          color: $white;

          &:hover,
          &:focus {
            color: $red;
          }
        }
      }

      &-mobile {
        display: none;
      }
    }

    &__logo {
      padding-top: 73px;

      &-header {
        font-size: map-get($font-size-desktop, medium);
        line-height: 1.158;
        padding-top: 11px;

        &-span {
          font-size: map-get($font-size-desktop, biggest);
          line-height: 0.905;
        }
      }

      &-list {
        gap: 18px;
        padding-right: 0;

        &-header {
          font-size: map-get($font-size-desktop, big);
          line-height: 1.152;
        }

        &-paragraph {
          font-size: map-get($font-size, secondary);
          line-height: 1.286;
        }
      }
    }

    &__buttons {
      padding-top: 9px;
      gap: 15px;

      &-button {
        font-size: map-get($font-size, secondary);
        line-height: 1.283;
        height: 40px;
        width: 138px;

        &-one {
          width: 102px;
        }
      }
    }

    &__lorem {
      padding: 112px 0 0 249px;
      gap: 20px;

      &-paragraph {
        font-size: map-get($font-size, secondary);
        line-height: 1.429;
      }

      &-button {
        width: 26px;
        height: 26px;
        border-radius: 50%;

        &-desktop {
          @include flex;
          width: 26px;
          height: 26px;
          border-radius: 50%;
          fill: $red;
        }

        &-svg {
          display: none;
        }
      }
    }
  }
}
