.mobile {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: $mobile-menu;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

  &.is-open {
    transform: translateX(0);
  }

  &__button {
    @include flex;
    cursor: pointer;
    position: absolute;
    top: 23px;
    right: 28px;
    height: 14px;
    width: 14px;
    border-style: none;
    background-color: $transparent;

    &:hover svg,
    &:focus svg {
      fill: $red;
    }

    &-svg {
      @include transition-fill;
      height: 14px;
      width: 14px;
      fill: $white;
    }
  }

  &__container {
    @include flex-column;
    padding: 60px 20px 0 21px;

    &-baner {
      display: none;
    }

    &-button {
      @include transition-background-color-color;
      @include flex;
      cursor: pointer;
      justify-content: center;
      border-style: none;
      background-color: $white;
      border-radius: 22px;
      font-family: $primary-font-family;
      font-weight: map-get($font-weight, bold);
      font-size: map-get($font-size, primary);
      line-height: 1.313;
      gap: 16px;
      color: $red;

      &:hover,
      &:focus {
        background-color: $red;
        color: $white;
      }

      &:hover svg,
      &:focus svg {
        fill: $white;
      }

      &-svg {
        @include transition-fill;
        width: 10px;
        height: 44px;
        fill: $red;
      }
    }

    &-nav {
      @include flex-column;
      gap: 22px;
      padding-top: 32px;

      &-link {
        @include transition-color;

        font-family: $primary-font-family;
        font-weight: map-get($font-weight, bold);
        font-size: map-get($font-size, secondary);
        line-height: 1.286;
        color: $white;

        &:hover,
        &:focus {
          color: $red;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .mobile {
    min-width: 254px;
    min-height: 1020px;
    right: 0;
    left: unset;

    &__container {
      padding: 60px 34px;

      &-baner {
        @include flex-column;
        position: relative;
        align-items: center;
        text-align: center;
        padding-top: 152px;
        gap: 30px;
        height: 485px;
        background-color: $pink;
        border-radius: 24px;
        margin-top: 100px;
        font-style: normal;
        color: $white;
        letter-spacing: map-get($letter-spacing, medium);

        &-png {
          position: absolute;
          bottom: 363px;
        }

        &-header {
          font-family: $secondary-font-family;

          font-weight: map-get($font-weight, primary);
          font-size: 20px;
          line-height: 1.15;
          letter-spacing: map-get($letter-spacing, medium);
          text-transform: uppercase;
        }

        &-list {
          @include flex-row;
          gap: 4px;

          &-img {
            width: 6px;
            height: 6px;
          }
        }

        &-paragraph {
          font-family: $primary-font-family;
          font-weight: map-get($font-weight, bold);
          font-size: 14px;
          line-height: 1.786;
        }

        &-button {
          @include transition-background-color;
          @include flex;
          cursor: pointer;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border-style: none;

          &:hover,
          &:focus {
            background-color: $red;
          }

          &:hover svg,
          &:focus svg {
            fill: $white;
          }

          &-svg {
            @include transition-fill;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            fill: $red;
          }
        }
      }
    }
  }
}
