.products {
  text-align: center;
  margin-top: 121px;
  justify-content: center;
}

.products__tag {
  color: $dark-pink;
  font-family: $secondary-font-family;
  letter-spacing: map-get($letter-spacing, medium);
  text-transform: uppercase;
  line-height: 1.145;
}

.products__title {
  color: $red;
  font-family: $secondary-font-family;
  text-transform: uppercase;
  line-height: 1.145;
  letter-spacing: map-get($letter-spacing, medium);
  margin-top: 15px;
  margin-bottom: 31px;
}

.products__item {
  // width: 100%;
  // height: auto;
  width: 280px;
  max-height: 598px;
  position: relative;
  border-radius: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 113px;
}

.products__item--ice-cream {
  background-color: $pink;

  &::before {
    content: "";
    position: absolute;
    bottom: 346px;
    background-image: url("../images/products/home-pic1-mobile.png");
    width: 249px;
    height: 252px;
    background-size: cover;
    // top: -210px;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .products__item--ice-cream::before {
    background-image: url("../images/products/home-pic1-mobile@2x.png");
  }
}

.products__item--ice-coffee {
  background-color: $beige;
  &::before {
    content: "";
    position: absolute;
    bottom: 346px;
    background-image: url("../images/products/home-pic2-mobile.png");
    width: 249px;
    height: 252px;
    background-size: cover;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .products__item--ice-coffee::before {
    background-image: url("../images/products/home-pic2-mobile@2x.png");
  }
}

.products__item--milkshakes {
  background-color: $green;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    bottom: 346px;
    background-image: url("../images/products/home-pic3-mobile.png");
    width: 249px;
    height: 252px;
    background-size: cover;
  }
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .products__item--milkshakes::before {
    background-image: url("../images/products/home-pic3-mobile@2x.png");
  }
}

.products__subtitle {
  color: $white;
  font-family: $secondary-font-family;
  text-transform: uppercase;
  line-height: 1.145;
  letter-spacing: map-get($letter-spacing, medium);
  margin-top: 161px;
  margin-bottom: 30px;

  &::after {
    content: url("./images/products/sprite.svg#icon-Group-4");
    // background-image: url("./images/products/sprite.svg#icon-Group-4");
    // background-image: url("./images/products/symbol-defs(3)");
    // background-image: url("./images/products/group4.svg#icon-Group-4");
    width: 26px;
    height: 6px;

    margin-bottom: 30px;
  }
}
.products__description {
  color: $white;
  font-family: $primary-font-family;
  line-height: 1.52;
}

.products__list {
  display: flex;
  flex-direction: column;
  gap: 17px;
  padding-left: 20px;
  padding-right: 20px;
}

.products-button {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border-color: transparent;
  border-style: none;
  margin-top: 30px;
  margin-bottom: 41px;
  fill: $red;
  cursor: pointer;
  @include transition-background-color;
  @include flex;

  &:hover,
  &:focus {
    background-color: $red;
  }

  &:hover svg,
  &:focus svg {
    fill: $white;
  }

  &-svg {
    @include transition-fill;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    fill: $red;
  }
}

@media screen and (min-width: 768px) {
  .products {
    margin-top: 122px;
  }

  .products__list {
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    padding-left: 34px;
    padding-right: 34px;
  }

  .products__item--ice-cream::before {
    background-image: url("../images/products/home-pic1-tablet.png");
    width: 220px;
    height: 226px;
    bottom: 363px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .products__item--ice-cream::before {
      background-image: url("../images/products/home-pic1-tablet@2x.png");
    }
  }

  .products__item--ice-coffee::before {
    background-image: url("../images/products/home-pic2-tablet.png");
    width: 220px;
    height: 226px;
    bottom: 363px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .products__item--ice-coffee::before {
      background-image: url("../images/products/home-pic2-tablet@2x.png");
    }
  }

  .products__item--milkshakes::before {
    background-image: url("../images/products/home-pic3-tablet.png");
    width: 220px;
    height: 226px;
    bottom: 363px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .products__item--milkshakes::before {
      background-image: url("../images/products/home-pic3-tablet@2x.png");
    }
  }
}

@media screen and (min-width: 1200px) {
  .products {
    margin-top: 127px;
  }

  .products__list {
    gap: 23px;
  }
  .products__item--ice-cream::before {
    background-image: url("../images/products/home-pic1-desktop.png");
    width: 335px;
    height: 335px;
    bottom: 400px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .products__item--ice-cream::before {
      background-image: url("../images/products/home-pic1-desktop@2x.png");
    }
  }

  .products__item--ice-coffee::before {
    background-image: url("../images/products/home-pic2-desktop.png");
    width: 335px;
    height: 335px;
    bottom: 400px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .products__item--ice-coffee::before {
      background-image: url("../images/products/home-pic2-desktop@2x.png");
    }
  }

  .products__item--milkshakes::before {
    background-image: url("../images/products/home-pic3-desktop.png");
    width: 335px;
    height: 335px;
    bottom: 400px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .products__item--milkshakes::before {
      background-image: url("../images/products/home-pic3-desktop@2x.png");
    }
  }
}
