.products__tag {
  color: $dark-pink;
  font-family: $secondary-font-family;
  text-transform: uppercase;
}

.products__title {
  color: $red;
  font-family: $secondary-font-family;
  text-transform: uppercase;
}

.products__item {
  width: 100%;
  // height: auto;
  position: relative;
  border-radius: 24px;
}

.products__item--ice-cream {
  background-color: $pink;

  &::before {
    content: '';
    position: absolute;
    background-image: url('../images/products/home-pic1-mobile.png');
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item--ice-cream::before {
    background-image: url('../images/products/home-pic1-mobile@2x.png');
  }
}

.products__item--ice-coffee {
  background-color: $beige;
  &::before {
    content: '';
    position: absolute;
    background-image: url('../images/products/home-pic2-mobile.png');
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item--ice-coffee::before {
    background-image: url('../images/products/home-pic2-mobile@2x.png');
  }
}

.products__item--milkshakes {
  background-color: $green;

  &::before {
    content: '';
    position: absolute;
    background-image: url('../images/products/home-pic3-mobile.png');
  }
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item--milkshakes::before {
    background-image: url('../images/products/home-pic3-mobile@2x.png');
  }
}

.products__subtitle {
  color: $white;
  font-family: $secondary-font-family;
  text-transform: uppercase;
}
.products__description {
  color: $white;
  font-family: $primary-font-family;
}

.products__list {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

@media screen and (min-width: 768px) {
  .products__list {
    flex-direction: row;
    gap: 20px;
  }

  .products__item--ice-cream::before {
    background-image: url('../images/products/home-pic1-tablet.png');
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .products__item--ice-cream::before {
      background-image: url('../images/products/home-pic1-tablet@2x.png');
    }
  }

  .products__item--ice-coffee::before {
    background-image: url('../images/products/home-pic2-tablet.png');
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .products__item--ice-coffee::before {
      background-image: url('../images/products/home-pic2-tablet@2x.png');
    }
  }

  .products__item--milkshakes::before {
    background-image: url('../images/products/home-pic3-tablet.png');
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .products__item--milkshakes::before {
      background-image: url('../images/products/home-pic3-tablet@2x.png');
    }
  }
}

@media screen and (min-width: 1200px) {
  .products__list {
    gap: 23px;
  }
  .products__item--ice-cream::before {
    background-image: url('../images/products/home-pic1-desktop.png');
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .products__item--ice-cream::before {
      background-image: url('../images/products/home-pic1-desktop@2x.png');
    }
  }

  .products__item--ice-coffee::before {
    background-image: url('../images/products/home-pic2-desktop.png');
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .products__item--ice-coffee::before {
      background-image: url('../images/products/home-pic2-desktop@2x.png');
    }
  }

  .products__item--milkshakes::before {
    background-image: url('../images/products/home-pic3-desktop.png');
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .products__item--milkshakes::before {
      background-image: url('../images/products/home-pic3-desktop@2x.png');
    }
  }
}
